<div class="storyContainer">
    <h1>[{0}] {1}</h1>

    <div class="storyBody">
        <table class="details">
            <tr>
                <td rowspan="3">
                    <div class="epicLabel">Epic:</div>
                </td>
                <td rowspan="3">
                    <div class="epicContainer">
                        <div class="epic {8}">{9}</div>
                    </div>
                </td>
                <td class="{3}">Lead BA:</td>
                <td class="right">{2}</td>
            </tr>
            <tr>
                <td class="{5}">Leader Tester:</td>
                <td class="right">{4}</td>
            </tr>
            <tr>
                <td class="{7}">Estimate:</td>
                <td class="right">{6}</td>
            </tr>
        </table>
        {10}
    </div>
</div>